<!-- <div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <div *ngFor="let p of subscriptions ">
      <h3 class="display-5 fw-bold">{{ p.customerId }}</h3>
      <p class="col-md-8 fs-4">{{p.firstName }}</p>
      <p class="col-md-8 fs-4"></p>
      <button class="btn btn-primary btn-lg" type="button">
        Start New Order
      </button>
    </div>
  </div>
</div> -->

<div class="tables">
  <span> <h5>Customer ID:</h5> <h4>{{details.customerId}}</h4> </span>
  <br>
  <span> <h5> First Name:</h5> <h4>{{details.firstName}}</h4> </span>
  <br>
  <span> <h5> Last Name:</h5> <h4>{{details.lastName}}</h4> </span>
  <br>
  <span> <h5>National Identity:</h5> <h4>{{details.nationalIdentity}}</h4> </span>
  <br>
  <!-- <span> <h5>Birth Date:</h5> <h4>{{details.birthDate}}</h4> </span> -->
</div>
   