
 <div class="container">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">#Id</th>
          <th scope="col">Service Name</th>
        </tr>
      </thead>
      <tbody *ngFor="let service of services">
    
          <tr>

            <th scope="row">{{ service.id }}</th>
            <td>{{ service.name }}</td>
            <!-- <td >

              <button  (click)="deleteService(item.id ?)">x</button>
              <button  (click)="service.id ? updateService() : addService(service)">{{ service.id ? "Update" : "Add"}}</button>
            </td> -->
            <td  *ngIf="service.id != null">
            <button class="btn btn-primary"(click)="update(service)">Update</button>
            <button class="btn btn-danger"(click)="deleteService(service.id)">Delete</button>
            </td>

          </tr>
     
      </tbody>
    </table>
  </div> 

  <hr>
  <div class="add-service" *ngIf="service != null">
    <input [(ngModel)]="service.name"/>
    <button (click)="service.id ? updateService() : addService(service)">{{ service.id ? "Update" : "Add"}}</button>
</div> 


