<!-- // NAVBAR -->

<div class="sample-column">
  <igx-navbar  title="Telco-frontend-Pair7">
    <igx-navbar-action>
      <button igxButton="icon">
        <igx-icon *ngIf="loggedin()">menu</igx-icon>
      </button>
    </igx-navbar-action>


    <h6 *ngIf="loggedin()"routerLink="/products">Product</h6>
    <h6 *ngIf="loggedin()"routerLink="/categories">Category</h6>
    <h6 *ngIf="loggedin()"routerLink="/customers">Customer</h6>
    <h6 *ngIf="loggedin()"routerLink="/roles">Role</h6>

    <h6 *ngIf="loggedin()" routerLink="/services" >Service</h6>

        <h6 *ngIf="!loggedin()"  class="btn btn-primary me-md-2" routerLink="/auth">Login</h6>
        <button *ngIf="loggedin()"  class="btn btn-primary me-md-2" (click)="onLogut()">Logut</button>

  </igx-navbar>
</div>
