<div class="container">
    <br>
    <br>
<div class="row">
    <div class="col"></div>
    <div class="col">
        
    </div>
    <div class="col"></div>
</div>
</div>

<section class="py-5 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">For example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        
          
            <div *ngIf="!loggedin()" class="alert alert-primary" role="alert">
                Login for services
             </div>
             <div *ngIf="loggedin()" class="alert alert-warning" role="alert">
               logged in
            </div>
       
      </div>
    </div>
  </section>