<!-- // NAVBAR -->

<div class="sample-column">
    <igx-navbar title="Telco-frontend-Pair7">
        <igx-navbar-action>
            <button igxButton="icon">
                <igx-icon>menu</igx-icon>
            </button>
        </igx-navbar-action>
        
        <h6 routerLink="/services">
            Service
         </h6>
         <h6 routerLink="/products">
           Product
         </h6>
         <h6 routerLink="/categories">
            Category
          </h6>
          <h6 routerLink="/customers">
            Customer
          </h6>
          <h6 routerLink="/roles">
            Role
          </h6>
        <button igxButton="icon">
            <igx-icon>search</igx-icon>
        </button>
        <button igxButton="icon">
            <igx-icon>favorite</igx-icon>
        </button>
        <button igxButton="icon">
            <igx-icon routerLink="auth" >person
                
            </igx-icon>
        
        </button> 
       
    </igx-navbar>
</div>




