<!-- // NAVBAR -->
<div class="sample-column">
    <igx-navbar title="Telco-frontend-Pair7">
        <igx-navbar-action>
            <button igxButton="icon">
                <igx-icon>menu</igx-icon>
            </button>
        </igx-navbar-action>
        
        <h6 routerLink="service">
            Service
         </h6>
         <h6 routerLink="Product">
           Product
         </h6>
        <button igxButton="icon">
            <igx-icon>search</igx-icon>
        </button>
        <button igxButton="icon">
            <igx-icon>favorite</igx-icon>
        </button>
        <button igxButton="icon">
            <igx-icon routerLink="auth" >person
                
            </igx-icon>
        
        </button> 
       
    </igx-navbar>
</div>




