 <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
  
        <h4 class="display-5 fw-bold">Customer ID:{{details.customerId}}</h4>
        <p class="col-md-8 fs-4">First Name:{{details.firstName}}</p>
        <p class="col-md-8 fs-4">Last Name:{{details.lastName}}</p>
        <p class="col-md-8 fs-4"> National Identity:{{details.nationalIdentity}}</p>
       
        <button class="btn btn-primary btn-lg" type="button">
          Start New Order
        </button>
      </div>
    </div>

  
